table.form-table tr.user-profile-picture { display: none; }

#revisionsdiv img {
	max-width: 60px;
	height: auto;
	margin-right: 10px;
}

.column-username img.avatar.photo {
	max-width: 32px;
	max-height: 32px;
}